html{
  background: url(https://i.ytimg.com/vi/RXmfcSwlBLI/maxresdefault.jpg);
  background-size: 750px;
}
h1{
  font-size: 50px;
  color: white;
  text-align: center;
}
.imga{
  padding-left: 350px;
}
.c1{
  font-size: 35px;
  color: white;
  font-style: italic;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 2 px solid green;
  background-color: red;
}
.c2{
  font-size: 35px;
  color: red;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 2 px solid green;
  background-color: blue;
}
